[submodule "tictac"]
    path = BFS/tictac
    url = https://github.com/emilevauge/tictac
[submodule "flask-todolist"]
    path = DFD/flask-todolist
    url = git@github.com:polyfunc/flask-todolist.git