[submodule "BFS/tictac"]
	path = BFS/tictac
	url = https://github.com/emilevauge/tictac
[submodule "DFD/flask-todolist"]
	path = DFD/flask-todolist
	url = https://github.com/polyfunc/flask-todolist.git
